$fontPrincipal: 'Roboto', sans-serif;

//Cores
$backBodyColor: #f5f6fa;
$headerBackColor: #182c61;
$buttonColor: #44bd32;
$fontWhite: #fff;

//display
$mobile: 767px;
$tablet: 1023px;
$dBlock: block;
$dFlex: flex;