* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 300px;
    font-weight: bold;
    margin: 16px auto;
    margin-top: 10%;
}

.form-input {
    display: block;
    max-width: 300px;
    margin-bottom: 16px;
}

.form-input input {
    display: block;
    width: 300px;
    margin-top: 8px;
    height: 25px;
}